@import url("font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Raleway|Dancing+Script");

/* Reset */

	html, body, div, span, applet, object, iframe, h2, h3, h4, h5, h6, p, row, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
		font-family: 'Raleway', serif;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
		background-color: #FFFBFB;
	}

	ol, ul {
		list-style: none;	
	}
	body {
		-webkit-text-size-adjust: none;
	}

	@media screen and (min-width: 737px) {

		/* Basic */
	body {
		background: #f0f0f0;
		font-family: 'Raleway', serif;
		font-weight: 300;
		color: #535353;
	}

		body.is-loading * {
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
		}

	input, textarea, select {
		font-family: 'Raleway', serif;
		font-weight: 300;
		color: #535353;
	}

	h2, h3, h4, h5, h6 {
		color: #535353;

	}

	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, p a {
		color: inherit;
		text-decoration: none;
		border: 0;
	}

	a {
		-moz-transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
		-webkit-transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
		-ms-transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
		transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
		/*color: #666;*/
		text-decoration: none;
		/*border-bottom: solid 1px #ddd;*/
	}

		a strong {
			-moz-transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
			-webkit-transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
			-ms-transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
			transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
		}

		a:hover {
			color: #b74c3d;
			font-weight: bolder;
		}

			a:hover strong {
				color: #b74c3d;
				font-weight: bolder;
			}

p {
		text-align: justify;
			margin-bottom: 2em;
			font-family: 'Raleway', serif;
			font-size: 16px;
			color: #535353;
	}

			body, input, textarea, select {
				line-height: 1.65em;
				font-size: 13pt;
			}

			h2 {
				font-size: 1.65em;
				font-weight: 400;
				letter-spacing: 4px;
				margin: 0 0 1.5em 0;
				line-height: 1.45em;
			}

			h3 {
				font-size: 1em;
				letter-spacing: 0px;
				margin: 0 0 1.25em 0;
			}

			.gc {
			width: 360px;
			height: 370px;
			margin: 10px 0px 10px 0px;
			overflow: hidden;
			position: absolute;
			border-radius: 10%;
			/*top: 0;
			left: 0;*/
		}
			/* Copyright */

			#copyright {
				/*margin-top: 1em;*/
				/*margin-bottom: 1em;*/
				padding-top: 1em;
				border-top: solid 1px #888;
				font-family: 'Raleway', serif;
			}

	}
.readmore {
	color: #A6713F;
	font-weight: bold;
	text-decoration: none;
	font-size: 17px;
}

.web-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 350px;
	height: 500px;
	border-radius: 165px;
	overflow: hidden;
}
.work {
	color: #A6713F;
	text-align: center;
}

.mp{
	font-family: 'Dancing Script';
	font-size: 26px;
}
.client {
	margin-top: 54px;
}
.btn {
	background-color: #A6713F;
	color: #fff;
	cursor: pointer;
}

.col-md-9 {
	text-align: center;
}
.serve {
	background-color: #FAAA9D;
	padding-bottom: 80px;
	background-position: fixed;
	color: #fff;
	}
	
.form_title {
	font-family: 'Raleway';
	font-weight: bold;
}
	#features-wrapper {
		position: relative;
		margin:20px 0px 20px 0px;
		padding: 20px 0px 20px 0px;
		text-align: center;
	}
		#header-h1 {
		position: relative;
		font-weight: 600;
		color: #888;
		text-shadow: 0.05em 0.075em 0 rgba(0, 0, 0, 0.1);
		letter-spacing: 5px;
		font-family: 'Dancing Script', sans-serif;
		text-align: center;
		/*margin-left: -90px;*/
		}
		#header-h2 {
			position: relative;
			font-weight: 600;
			letter-spacing: 0px;
			font-family:'Raleway', sans-serif;
			font-size: 22px;
			/*margin-left: 20px;*/
			color: #888;
			text-align: center;
		}
		.other-h3 {
			position: relative;
			letter-spacing: 0px;
			font-family:'Raleway', serif;
			font-size: 22px;
			color: #6D6D6D;
		}

.social-icons {
	padding: 30px 15px 30px 15px;
	color: #A6713F;
	}
	/*.social-icons:hover {
		background-color: #b74c3d;
	}*/

.client-image {
	width: 180px;
	height: 101px;
}

.client-logo {
	border-radius: 10%;
	margin-bottom: 3em;
}
.blogfont {
	font-family: 'Dancing Script';
	font-weight: bold;
	font-size: 24px;
}
.subscribe {
	width: 290px;
    height: 300px;
    border-radius: 20px;
    background-color: #ffaa9a;
    margin-top: 35px auto;
    padding: 15px 30px 20px 30px;
    color: #535353;
    text-align: center;
    -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
    animation: mymove 5s infinite;
}
    /* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    50% {box-shadow: 10px 20px 50px #000;}
}
/* Standard syntax */
@keyframes mymove {
    50% {box-shadow: 10px 20px 50px #000;}
}

.padded {
	padding: 3em;
	float: right;
	margin-top: 15px;
}
.padded2{
	padding: 3em;
}
.s-column {
	margin-left: 7em;
}
.contactstyle {
	background-color: #ffaa9a;
}
.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: 'Raleway', serif;
    font-weight: 600;
    color: #000;
    padding-right: 50px;
}
.navbar-default {
    border-color: transparent;
    background-color: #f0f0f0;
    padding-right: 10px;
}

.navbar-default .navbar-brand {
    font-family: 'Dancing Script', sans-serif;
    font-weight: 600;
    /*font-size: 14px;*/
    /*padding-left: 50px;*/
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #CC7A7A;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}


.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #888;
    background-color: #A6713F;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #A6713F;
    background-color: #CC7A7A;
}

.gc img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
@media(min-width:768px) {
    .navbar-default {
        /*padding: 5px 0;*/
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 24px;
       /* -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;*/
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }

    .navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: #ff9999;
    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1em;
    }
}